*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
  background-color: #4d4d4d;
  color: #F2F1EF;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

li.completed {
  color: #666666;
  text-decoration: line-through;
}

div.flash {
  background-color: aliceblue;
  color: #2a2a2a;
  width: 80%;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
}
