<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}My To-Dos{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css" />
  </head>
  <body>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </body>
</html>
